#footer {
    height: 150px; 
    background-color: rgb(71, 69, 69); 
    text-align: center; 
    justify-content: center;
}

#footer1{
    margin-top: 20px;
}

#get {
    color: white;
}

#information {
    list-style-type: none;
}

li{
    color: whitesmoke;
}

#footer2 {
    margin-top: 50px;
}

#footer3 {
    margin-top: 20px;
}

#copywrite {
    color: whitesmoke;
}